################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/korhazprojekt/.vs/korhazprojekt
/korhazprojekt/korhazprojekt/obj
/korhazprojekt/korhazprojekt/Program.cs
